body{
    background-color: pink;
}
#container {
    background-color: cadetblue;
    width: 950px;
    margin: 20px auto;
    border: 4px solid;
    padding: 20px;
}

header {
    text-align: center;
}
header h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

h3 {
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

nav {
    text-align: center;
    border-top: 4px solid;
    border-bottom: 4px solid;
    padding: 20px;
}

nav a{
    color: white;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover{
    color: black;
    text-decoration: none;
}

main img {
    display: block;
    margin: 20px auto;
    width: 600px;
}